html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: 
    linear-gradient(to bottom, #e0c193, #ad8b5f)     
}
h1 {
    text-align: center;
}
main {
    width: 70%;
    margin: auto;
    display: flex;

    justify-content: center;
}

.container-border {
    width: 720px;
    height: 720px;
    background-color: rgb(230, 27, 27);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap:wrap;
    -webkit-user-select: none; /* For Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer 10+ */
    user-select: none; /* Standard syntax */
}
/* .topBtns, .bottomBtns {

} */



footer {
    text-align: center;

}